.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.following-list {
  height: 400px;
  background: #FFF;
  border-radius: 12px;
  border: none;
}

.following-list h1 {
  width: 200px;
  font-weight: 500;
  border-bottom: 1px solid #DBDBDB;
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.following-list-list {
  height: 310px;
  width: 230px;
  overflow: auto;
  padding: 0 0 30px 30px;
}