.nav-tall ul li {
  list-style: none;
}

.nav-tall {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #FFF;
  height: 77px;
  width: 100%;
  border-bottom: 1px solid #DBDBDB;
  transition: all 0.2s ease-in-out;
}

.nav-short ul li {
  list-style: none;
}

.nav-short {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #FFF;
  height: 52px;
  width: 100%;
  border-bottom: 1px solid #DBDBDB;
  transition: all 0.2s ease-in-out;
}

.nav-tall-container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1010px;
  padding: 26px 20px;
  transition: all 0.2s ease-in-out;
}

.nav-short-container {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1010px;
  padding: 0 20px;
  margin-top: 13px;
  transition: all 0.2s ease-in-out;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 28px;
  width: 100%;
}

.nav-left-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-left-items div {
  padding-right: 15px;
}

.nav-logo {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  text-decoration: none;
  color: #262626;
  font-weight: 300;
  visibility: visible;
}

.nav-divider {
  height: 28px;
  max-width: 1px;
  border-left: 1px solid #262626;
  visibility: visible;
}

.go-away {
  display: none;
}

.nav-right-items {
  display: flex;
  align-items: center;
}

.nav-right-items a {
  margin-left: 26px;
}

.icon-github {
  width: 25px;
}

.icon-profile {
  margin-left: 1px;
}

.nav-search {
  align-content: center;
  margin-right: 26px;
}

.nav-search input {
  width: 202px;
  height: 24px;
  font-size: 14px;
  font-weight: 150;
  border-radius: 3px;
  border-style: solid;
  border: 1px solid #DBDBDB;
  background-color: #FAFAFA;
  padding-left: 9px;
}

.nav-search-short input {
  width: 202px;
  height: 24px;
  font-size: 14px;
  font-weight: 150;
  border-radius: 3px;
  border-style: solid;
  border: 1px solid #DBDBDB;
  background-color: #FAFAFA;
  margin-left: 104px;
  padding-left: 9px;
}

.results-tall {
  max-height: 365px;
  overflow: auto;
}

.results-short {
  margin-left: 104px;
  max-height: 365px;
  overflow: auto;
}

.search-li {
  z-index: 3;
  background-color: white;
  display: flex;
  border: 1px solid #EFEFEF;
  width: 184px;
  height: 50px;
  padding: 8px 14px;
  align-items: center;
}

.search-li:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}

.search-li p {
  text-decoration: none;
  color: #262626;
  display: flex;
}

.search-photo-container {
  margin-right: 10px;
}

.search-photo {
  border-radius: 100%;
  object-fit: cover;
  width: 42px;
  height: 42px;
}

.search-name {
  font-size: 12px;
  color: #999;
}