.nav-container-short ul li {
  list-style: none;
}

.nav-container-short {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  height: 52px;
  width: 100%;
  border-bottom: 1px solid #DBDBDB;
  transition: .2s ease-in-out;
}

.nav-list-container-short {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1010px;
  padding: 0 20px;
  margin-top: 13px;
}

.nav-list-short {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  width: 100%;
}

.nav-right-items-short {
  display: flex;
  align-items: center;
}

.nav-right-items-short a {
  margin-left: 26px;
}

.icon-profile-short {
  margin-left: 1px;
}

.nav-search-short {
  align-content: center;  
}

.nav-search-short input {
  width: 212px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 150;
  border-radius: 3px;
  border-style: solid;
  border: 1px solid #DBDBDB;
  background-color: #FAFAFA;
  margin-left: 133px;
}