.post-create-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-create-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  background-color: white;
  padding: 25px;
  border: 1px solid #DBDBDB;
  border-radius: 12px;
}

.post-create-h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.post-preview {
  max-height: 404px;
  margin-top: 10px;
  padding: 10px;
  background: black;
}

.post-file-input {
  width: 0;
}

.post-file-input-label {
  color: white;
  background-color: #3F97EF;
  max-height: 40px;
  width: 130px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border: none;
}

.post-file-input-label:hover {
  cursor: pointer;
}

.post-caption-input {
  background-color: #FAFAFA;
  border-radius: 3px;
  border-style: solid;
  border: 1px solid #DBDBDB;
  padding: 10px;
  height: 30px;
  width: 200px;
  font-size: 12px;
  margin-bottom: 20px;
  resize: none;
}

.post-create-submit {
  max-height: 40px;
  width: 130px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-color: #3F97EF;
  color: white;
  cursor: pointer;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-create-submit:disabled {
  background-color: #B8DFFA;
}

.post-create-submit:disabled:hover {
  cursor: default;
}