.post-index-section {
  margin-top: 78px;
  width: 1010px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.posts-list-left {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 935px;
}

.posts-list {
  padding-top: 60px;
  list-style: none;
}

.post-container {
  width: 615px;
  margin-bottom: 60px;
  border-radius: 3px;
  border: 1px solid #E6E6E6;
}

.temp-post-container {
  margin-bottom: 450px;
}

.post-header {
  height: 36px;
  padding: 16px;
  display: flex;
  background-color: white;
  align-items: center;
}

.post-header a {
  text-decoration: none;
  color: #262626;
}

.post-header a:visited {
  text-decoration: none;
}

.post-header span {
  margin-left: 12px;
}

.submit-comment-icon {
  width: 40px;
  margin-top: 5px;
  margin-right: -9px;
  background-color: transparent;
  border: none;
}

.post-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.profile-link {
  font-weight: 450;
}

.post-caption-user {
  font-weight: 450;
}

.post-caption {
  font-weight: 350;
}

.post-photo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-photo-img {
  margin: 0 auto;
  margin-bottom: -7px;
  min-width: 615px;
}

.like-heart-display {
  position: absolute;
  z-index: 1;
  max-width: 140px;
  opacity: 0.85;
}

.like-heart-none {
  display: none;
}

.below-photo {
  padding: 0 16px;
  background-color: white;
}

.post-icon-container {
  padding-top: 8px;
  height: 40px;
  display: flex;
  align-items: center;
}

.heart-icon {
  margin-right: 12px;
}

.heart-icon:hover {
  cursor: pointer;
}

.liked-icon {
  margin-right: 12px;
}

.liked-icon:hover {
  cursor: pointer;
}

.delete-icon {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 480px;
}

.post-comment-icon:hover {
  cursor: pointer;
}

.post-likes {
  height: 18px;
  padding-bottom: 5px;
}

.like-this {
  font-weight: 500;
}

.like-this:hover {
  cursor: pointer;
}

.caption-edit-icon {
  height: 28px;
  width: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.caption-edit-form {
  display: flex;
  justify-content: center;
  align-content: center;
}

.caption-edit-input {
  resize: none;
  width: 100%;
  min-height: 18px;
  font-size: 14px;
  border: 0;
}

.caption-edit-submit {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  border: none;
  background-color: transparent;
}

.post-comments-list {
  list-style: none;
}

.post-comments-list li {
  padding-top: 5px;
}

.deletable:hover {
  cursor: pointer;
  opacity: 0.50;
}

.deletable {
  font-weight: 450;
}

.not-deletable {
  font-weight: 450;
}

.comment-body {
  font-weight: 350;
}

.post-time {
  height: 19px;
  margin-bottom: 4px;
  padding-top: 5px;
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
}

.post-comment-form-container {
  border-top: 1px solid #EFEFEF;
  margin-top: 4px;
  min-height: 56px;
}

.post-comment-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.post-comment-form input {
  resize: none;
  min-height: 18px;
  color: #262626;
  font-size: 14px;
  line-height: 18px;
  width: 582px;
  border: 0;
  max-height: 80px;
  outline: 0;
  padding: 0;
}