.session-h1 {
  font-family: 'Satisfy', cursive;
  font-size: 45px;
  color: #262626;
  font-weight: 595;
  margin-bottom: 10px;
}

.session-form h2 {
  font-size: 18px;
  font-weight: 600;
  color: #999999;
  height: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

.session-container {
  background-color: #FAFAFA;
  display: flex;
  max-width: 935px;
  justify-content: center;
  height: 100%;
  margin-bottom: 200px;
}
 
.session-right {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  width: 348px;
  height: 709px;
}

.session-redirect {
  border: 1px solid #E9E9E8;
  display: flex;
  background-color: white;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  width: 335px;
  padding: 5px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.session-redirect.login {
  margin-bottom: 244px;
}

.session-redirect.signup {
  margin-bottom: 18px;
}

.session-link {
  text-decoration: none;
  color: #409AF2;
}

.session-link:visited {
  text-decoration: none;
}

.session-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  border: 1px solid #E9E9E8;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.session-form p {
  color: #999999;
  font-size: 14px;
  margin-left: 12px;
  margin-right: 12px;
}

.session-form input {
  padding: 10px;
  font-size: 12px;
  background-color: #FAFAFA;
  border-radius: 3px;
  border: 1px solid #E9E9E8;
  margin-bottom: 7px;
}

.session-form ul li {
  list-style: none;
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.session-image {
  margin-top: 50px;
  max-height: 659px;
}

.session-button {
  display: inline-block;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background-color: #3F97EF;
  color: white;
  cursor: pointer;
  margin-top: 6px;
  border: none;
}

.session-button:disabled {
  background-color: #B8DFFA;
}

.session-button:disabled:hover {
  cursor: default;
}

.session-button.demo {
  margin-bottom: 20px;
}

.footer-container {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.session-footer ul {
  list-style: none;
  max-width: 935px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  color: #183477;
  font-size: 13px;
  font-weight: 550;
  max-width: 100%;
}

.footer-list {
  display: flex;
  flex-direction: row;
}

.footer-list li {
  margin-right: 20px;
}

.footer-copyright {
  color: #999999;
  font-size: 12px;
  margin-left: 100px;
}

.footer-list a {
  text-decoration: none;
  color: #183477;
}

.footer-list a:visited{
  text-decoration: none;
}